{% extends 'theme_bootstrap/base.html' %}
{% block footer %}
{% endblock %}

{% block nav %}
  <ul>
    <li><a href='/'>Home</li>
  </ul>
{% endblock %}

{% block styles %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" inte
  <!-- theme css -->
  <link rel="stylesheet" href="/static/pinax/css/theme.css">
{% endblock %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027
{% endblock %}
